
.bg-img{
    filter: grayscale(100%);
    z-index: -1;
}


.category-img{
    height: 200px;
    width: 260px;
    filter: grayscale(100%);
    cursor: pointer;
}

.category-img:hover{
    filter: grayscale(0);
}

.categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50rem;
    width: auto;
  
  
}

.topdeal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin: 50px;
    
}

.topdeal-text{
    align-self: center;
}

.topdeal-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.category-heading{
    align-self: center;
}
.category-items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.category-1{
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
}

.newsletter{
    display: flex;
    border: 1px solid var(--grey-color);
    height: 30rem;
    justify-content: center;
    align-items: center;
   
}
.white{
    color: #f5f3ff;
}

.newsletter-title{
    font-size: 2.5rem;
    margin: 30px 0;
}

.newsletter-input{
  
    width: 45rem;
    padding: 10px;
    height: 5rem;
    font-size: 2.6rem;
}

.newsletter-btn{
    height: 5rem;
    width: 18rem;
    margin: 0 4rem;
    font-size: 2.5rem;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}