@import url(https://fsharpui.netlify.app/main.css);

.footer{
    border: 1px solid ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

}


.footer-links{
    
    display: flex;
 width: 30rem;
 justify-content: space-around;
}
.c-social__link{
    font-size: 20px;
}

